body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
}

.select label {
  display: block;
  font-size: 0.75em;
  margin-bottom: 0.25em;
}

.select select {
  font-size: 1.125em;
}
